torch
torchvision
torchaudio
ultralytics
opencv-python
scikit-image
scikit-learn
xgboost
albumentations
matplotlib
seaborn
tensorboard
imagehash
kaggle
datasets
requests
pandas
numpy
tqdm
PyYAML
flask
joblib
